In [1]:
#Binary search implementation
#Save time for CPU (Time complexity)

In [2]:
db=[1,2,3,4,5]

In [3]:
#create random value with a liste
db1=list(range(1,12))

In [4]:
db1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [5]:
len(db1) / 2

5.5

In [7]:
import math

#Arrondir par defaut
math.floor(2.5) 
#Arrondir par exces
a = math.ceil(2.5)

print(a)

3

In [8]:
def lw():
    for i in db:
        print (i*2)

In [9]:
lw()

2
4
6
8
10

In [10]:
#Implementation of Binary search
db2=list(range(1,12))

In [11]:
dir(db2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
db2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [13]:
#Index search data
#linear search: O(n)
db2.index(8)

7

In [26]:
#create function base on Binary search
def lwbs(db,value):
    start = 0
    end = len(db) - 1
    middle = int( (start + end) / 2 )
    
    while not(db[middle]==value):
        if(value > db[middle]):
            start=middle + 1
        else:
            end=middle - 1
        middle = int( (start + end) / 2)
        #print ("start: ",start,"end :",end,"middle :",middle)
        
    
    if (db[middle] == value):
        print ("Found")
    else:
        print ("Not Found")
    
    print ("start: ",start,"end :",end,"middle :",middle)

In [28]:
lwbs(db2,1)

Found
start:  0 end : 1 middle : 0

In [1]:
#Buddle Sort algorithm

In [11]:
x= 5

In [12]:
y= 7

In [13]:
#In This case we are use a temporaly variable
temp = x
x=y
y= temp

In [14]:
x

7

In [15]:
y

5

In [18]:
# BY using python code 
#don't need to use temp variable
x , y = y , x

In [19]:
x, y

(7, 5)

In [34]:
# db : size : n
db3 = [1,2,3,4,5,6,5,7,8,9,4,3,2,5,6,8]

# db1 : size : n
db4 = [10,20,30,40,50,60,4,5,6,70,75,34,21]

In [35]:
# nested loop
# 5 * 4 = 20
# TIme complexity # n * n = O(n^2)

for i in db3:
    for j in db4:
        print(i*j)

10
20
30
40
50
60
4
5
6
70
75
34
21
20
40
60
80
100
120
8
10
12
140
150
68
42
30
60
90
120
150
180
12
15
18
210
225
102
63
40
80
120
160
200
240
16
20
24
280
300
136
84
50
100
150
200
250
300
20
25
30
350
375
170
105
60
120
180
240
300
360
24
30
36
420
450
204
126
50
100
150
200
250
300
20
25
30
350
375
170
105
70
140
210
280
350
420
28
35
42
490
525
238
147
80
160
240
320
400
480
32
40
48
560
600
272
168
90
180
270
360
450
540
36
45
54
630
675
306
189
40
80
120
160
200
240
16
20
24
280
300
136
84
30
60
90
120
150
180
12
15
18
210
225
102
63
20
40
60
80
100
120
8
10
12
140
150
68
42
50
100
150
200
250
300
20
25
30
350
375
170
105
60
120
180
240
300
360
24
30
36
420
450
204
126
80
160
240
320
400
480
32
40
48
560
600
272
168

In [30]:
type(db5)

int

In [31]:
db5

360

In [52]:
def lwbbs(data):
    #------------------
    # Sorting using algo : Bubble sort algorithm
    #------------------------
    for f in range(len(data) - 1):
        #print("first data ", f)
        for s in range(len(data) - 1 - f):
            #print("Second item : ", s)
            if data[s] > data[s+1]:
                data[s], data[s+1] = data[s+1], data[s]
        print("Every pass result : ", data)
    return data

In [53]:
db6 = [5,2,7,9,3,4]

In [54]:
lwbbs(db6)

Every pass result :  [2, 5, 7, 3, 4, 9]
Every pass result :  [2, 5, 3, 4, 7, 9]
Every pass result :  [2, 3, 4, 5, 7, 9]
Every pass result :  [2, 3, 4, 5, 7, 9]
Every pass result :  [2, 3, 4, 5, 7, 9]

[2, 3, 4, 5, 7, 9]